<%- include('includes/head.ejs') %>
    <!-- <link rel="stylesheet" href="/css/product.css"> -->
    </head>

    <body>
        <%- include('includes/navigation.ejs') %>

            <main class="w3-row-padding w3-margin-top">
                <div class="w3-third w3-margin-bottom">
                    <div class="w3-card"">
                        <ul class=" w3-ul w3-border w3-center w3-hover-shadow">
                        <img src=" <%=product.image_path %>" alt=" " style="width:100%">
                        <div class="w3-container">
                            <h4 class="w3-padding-16"> Product ID:<%= prods.product_id%>
                            </h4>
                            <li class="w3-black w3-xlarge w3-padding-32"> Product Name:<%= prods.product_name %>
                            </li>
                            <h2 class="w3-padding-16">Price:$<%= prods.price %>
                            </h2>
                            <p class="w3-padding-16">Description:<%= prods.detail %>
                            </p>
                        </div>
                        </ul>
                    </div>
                </div>
            </main>
            <%- include('includes/end.ejs') %>