<%- include('includes/head.ejs') %>
    <!-- <link rel="stylesheet" href="/css/main.css"> -->
    </head>

    <body>
        <%- include('includes/navigation.ejs') %>

            <main class="w3-row-padding w3-margin-top">
                <% if (prods.length> 0) { %>
                    <div class="w3-third" id="1">
                        <% for (let product of prods) { %>
                            <div class="w3-card">
                                <img src="<%= product.image_path %>" alt="img" style="width:100%">
                                <h4 class="w3-container">
                                    <%= product.product_name %>
                                </h4>
                                <p>
                                    $<%= product.price %>
                                </p>
                                <form method="get" action="/detail">
                                    <input type="hidden" id="product_id" name="product_id"
                                        value="<%= product.product_id %>">
                                    <button id="<%= product.product_id %>" class="btn" type="submit">Detail</button>
                                </form>
                            </div>
                            <% } %>
                    </div>
                    <% } else { %>
                        <h1>No Products Found!</h1>
                        <% } %>
            </main>
            <%- include('includes/end.ejs') %>